<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="INFO">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout patter="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="FileAppender" fileName="application-${date: yyyyMMdd}.log" immediateFlush="false" append="true">
            <PatternLayout patter="%d{yyyy-MM-dd HH:mm:ss:SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <Loggers>
            <Root level="debug">
                <AppenderRef ref="ConsoleAppender" />
                <AppenderRef ref="FileAppender"/>
            </Root>
        </Loggers>
    </Appenders>
</Configuration>
